

/*==============================================
=            Brake point  –  Mixins            =
==============================================*/




@mixin mob {
   @media (min-width: #{$mob-bp}) {
       @content;
   }
}

@mixin mob-max {
   @media (max-width: #{$mob-bp}) {
       @content;
   }
}

@mixin tab {
   @media (min-width: #{$tab-bp}) {
       @content;
   }
}

@mixin tab-max {
   @media (max-width: #{$tab-bp}) {
       @content;
   }
}

@mixin lap {
   @media (min-width: #{$lap-bp}) {
       @content;
   }
}

@mixin desk {
   @media (min-width: #{$desk-bp}) {
       @content;
   }
}


/*==================================
=            How to use            =
==================================*/

@include mob {
        padding: 0 20px;
}



/*=========================================
=            Wrapping red line            =
=========================================*/

@mixin test{
  border: 1px solid red;
}


/*===================================
=            Transitions            =
===================================*/

@mixin trans{
  transition: all 0.3s ease;
}







