@charset "UTF-8";
/*==============================
=            Colors            =
==============================*/
/*====================================
=            Break points            =
====================================*/
/*================================
=            Includes            =
================================*/
/*==============================================
=            Brake point  –  Mixins            =
==============================================*/
/*==================================
=            How to use            =
==================================*/
@media (min-width: 560px) {
  padding: 0 20px; }

/*=========================================
=            Wrapping red line            =
=========================================*/
/*===================================
=            Transitions            =
===================================*/
/* the pulseer */
.pulse {
  margin: 75px auto;
  width: 50px;
  height: 50px;
  /** height is required as absolute value **/
  background-color: #FF706F;
  border-radius: 50%;
  position: relative;
  -webkit-animation: pulse 2000ms linear infinite;
          animation: pulse 2000ms linear infinite;
  bottom: -8px; }

.pulse:after,
.pulse:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: #FF706F; }

.pulse:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
          animation: outer-ripple 2000ms linear infinite; }

.pulse:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
          animation: inner-ripple 2000ms linear infinite; }

/* outer ripple */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1; }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1; }
  20% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1; } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1; }
  10% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1; }
  20% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1; }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 1; } }

@-webkit-keyframes outer-ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  80% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0; } }

@keyframes outer-ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  80% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0; } }

/* inner ripple */
@-webkit-keyframes inner-ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5; }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0; } }
@keyframes inner-ripple {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5; }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    filter: alpha(opacity=0);
    opacity: 0; } }

.contact-bottom {
  background-color: #20117A;
  background-image: -webkit-gradient(linear, left top, right top, from(#20117A), to(#FDE0C2));
  background-image: linear-gradient(to right, #20117A 0%, #FDE0C2 100%); }

.subscribe {
  background-image: url("../images/Subscribe.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 2;
  color: white;
  padding: 50px 0 90px 0; }
  .subscribe h3 {
    margin-top: 0; }

.mailing-wrap {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: block; }

input {
  border: none;
  padding: 15px;
  display: block;
  font-size: .9em;
  width: 100%; }

.button {
  border: none;
  background-color: #FF706F;
  color: white;
  font-size: .9em;
  padding: 20px 20px;
  width: 30%;
  min-width: 100px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 22px 64px 0 #d15150;
          box-shadow: 0 22px 64px 0 #d15150;
  border-radius: 6px;
  overflow: hidden; }

/*==============================
=            Footer            =
==============================*/
footer {
  background-color: #FF706F;
  color: white;
  font-size: .8em;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: -40px; }
  footer p {
    margin: auto; }

/*============================================
=            Clear Font in Webkit            =
============================================*/
* {
  -webkit-font-smoothing: antialiased; }

/*======================================================
=            Reset Box Sizing to border box            =
======================================================*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/*===============================
=            General            =
===============================*/
body {
  color: #260780;
  background-color: white;
  margin: 0 !important;
  overflow-x: hidden;
  position: relative;
  font-family: 'Avenir LT Std';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px; }
  @media (min-width: 768px) {
    body {
      font-size: 18px; } }
  @media (min-width: 768px) {
    body {
      font-size: 22px; } }

/*================================
=            Parallax            =
================================*/
.parallaxWrap {
  position: absolute;
  right: 0;
  width: 90%;
  overflow: hidden;
  max-width: 1800px; }

#scene {
  text-align: right;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: -1;
  transform: translate(30%, -30%) !important;
  -webkit-transform: translate(30%, -30%) !important; }
  #scene div {
    width: 100%;
    text-align: right; }
  #scene img {
    width: 100%; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

h1 {
  font-size: 2em;
  line-height: 1.2; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3em; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 4em; } }
  @media (min-width: 1600px) {
    h1 {
      font-size: 5em; } }

h2 {
  font-size: 1.5em;
  line-height: 1.5; }
  @media (min-width: 768px) {
    h2 {
      font-size: 1.8em; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2em; } }
  @media (min-width: 1600px) {
    h2 {
      font-size: 2.5em; } }

h3 {
  font-size: 1.2em;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    h3 {
      font-size: 1.5em; } }

.info {
  font-family: 'Lato', sans-serif;
  font-size: .5em; }

a {
  text-decoration: none;
  color: #260780; }

.more {
  position: relative;
  left: 0;
  bottom: -0.15em;
  font-size: 1.5em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a:hover .more {
  left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

p {
  max-width: 800px; }

/*============================
=            Main            =
============================*/
main {
  max-width: 1440px;
  margin: auto;
  padding: 40px;
  padding-top: 5%; }
  @media (min-width: 1600px) {
    main {
      padding-top: 2%; } }

.section {
  margin-bottom: 100px;
  -webkit-animation: fadeInUp 2.5s;
          animation: fadeInUp 2.5s; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -20px; } }

/*==================================
=            Navigation            =
==================================*/
nav {
  padding: 10px 20px; }
  @media (min-width: 768px) {
    nav {
      padding: 20px 40px; } }

/*============================
=            Hero            =
============================*/
.button-text {
  margin-left: 30px;
  position: relative; }

/*================================
=            Features            =
================================*/
.features {
  text-align: left; }
  .features h2 {
    margin-bottom: 0; }
  .features article {
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .features article {
        padding: 20px; } }

/*==================================
=            Animations            =
==================================*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }
/*# sourceMappingURL=main.css.map */
